{{- if and (not (eq .Params.single true)) (or .PrevInSection .NextInSection) -}}
<section class="article navigation">
    {{- with .NextInSection -}}
      {{- $title := .Title | safeHTML -}}
      {{- if $title -}}<p><a class="link" href="{{- .RelPermalink -}}"><i class="far fa-arrow-alt-circle-up" aria-hidden="true"></i>&nbsp; 上一篇：{{- $title -}}</a></p>{{- end -}}
    {{- end -}}
    {{- with .PrevInSection -}}
      {{- $title := .Title | safeHTML -}}
      {{- if $title -}}<p><a class="link" href="{{- .RelPermalink -}}"><i class="far fa-arrow-alt-circle-down" aria-hidden="true"></i>&nbsp; 下一篇：{{- .Title | safeHTML -}}</a></p>{{- end -}}
    {{- end -}}
</section>
{{- end -}}