.kwd {
    display: inline-block;
    color: coral;
    font-size: 12px;
    line-height: 1;
    padding: 3px 5px;
    margin: 4px 4px 4px 0;
    border-radius: 5px;
    border: 0.5px dotted gray;
    border-color: rgba(255,255,255,.2)
}

.kwd2 {
    color: coral;
}

.label {
    display: inline-block;
    color: #5c8a03;
    font-size: 12px;
    line-height: 1;
    padding: 3px 5px;
    margin: 4px 4px 4px 0;
    border-radius: 5px;
    border: 0.5px dotted gray;
    border-color: rgba(255,255,255,.2)
}


.uline {
    --line-yellow: url("data:image/svg+xml;charset=utf-8,%3Csvg preserveAspectRatio='none' width='120' height='6' viewBox='0 0 120 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M119 0.8C60 4 50-0.5 1 1.5' stroke='%23fc0' stroke-width='1' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
    --line-dark: url("data:image/svg+xml;charset=utf-8,%3Csvg preserveAspectRatio='none' width='120' height='6' viewBox='0 0 120 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M119 0.8C60 4 50-0.5 1 1.5' stroke='hsl(15, 72%, 70%)' stroke-width='1' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
    font-family: var(--system);
    font-size: 1rem;
    line-height: 1.7;
    color: inherit;
    background: var(--line-yellow) bottom left/100% .3em no-repeat;
    text-decoration: none;
    padding-bottom: .3em;
    background-image: var(--line-dark);
}

.strike {
  line-height: 1em;
  position: relative;
}

.strike::after {
  background: linear-gradient(to right, orange, gold);
  content: "";
  height: 0.125em;
  left: 0;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}
