{{- $nav := . -}}
{{- if or $nav.showCategories $nav.showTags $nav.custom -}}
<div class="nav wrap">
    <nav class="nav">
        {{- if $nav.showCategories -}}
        <a class="nav item" href="{{- `/categories/` | relLangURL -}}"><i class="fas fa-th"></i>&nbsp;分类</a>
        {{- end -}}
        {{- if $nav.showTags -}}
        <a class="nav item" href="{{- `/tags/` | relLangURL -}}"><i class="fas fa-tags" aria-hidden="true"></i>&nbsp;标签</a>
        {{- end -}}
        <!-- <a class="nav item" href="{{- `/serials/` | relURL -}}"><i class="fas fa-star" aria-hidden="true"></i>&nbsp;系列</a> -->
        <a class="nav item" href="{{- `/about/` | relURL -}}"><i class="far fa-user" aria-hidden="true"></i>&nbsp;关于</a>
        {{- range $nav.custom -}}
        {{- $url := .url | safeURL -}}
        {{- if strings.HasPrefix $url "/" -}}{{- $url = $url | relLangURL -}}{{- end -}}
        <a class="nav item" href="{{- $url -}}" {{- if strings.HasPrefix $url "http" -}}target="_blank" {{- end -}}>{{- .title -}}</a>
        {{- end -}}
    </nav>
</div>
{{- end -}}